<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script type="text/javascript" src="/_Admin/Script/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/_Admin/Script/EasyBuy.js"></script>
    <script type="text/javascript" src="/_Admin/Script/test.js"></script>
    <link rel="stylesheet" href="/_Admin/Style/test.css">
</head>
<body>
    sddsfdsdf 
    hello world
    <div>red color</div>
    <!--<img src="/_Admin/Image/test.png"/>-->
    <button onclick="test()">testForm</button>

    <form enctype="multipart/form-data" method="POST" action="/_api/test/uploadFile">
        <input type="text" name="content" />
        <input type="file" name="file" />
        <button type="submit" >testFile</button>
    </form>
   
</body>
</html>