<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionstring" value="Data Source=127.0.0.1;Initial Catalog=GlobalShopping;User ID=sa;Password=123;"/>
    <add key="EasyBusy" value="OneKeyRegularExpression.xml" />
    <add key="appKey" value="23346767" />
    <add key="appSecret" value="0e3e924ebec051da26438087571f242c" />
    <add key="defaultPage" value="test.html"/>
    <!--<add key="NickName" value="chinginternational" />-->
    <!--<add key="tabaobaichuanappKey" value="23346767" />
    <add key="tabaobaichuanappSecret" value="0e3e924ebec051da26438087571f242c" />-->
    
    <!--<add key="appKey" value="12193480" />
    <add key="appSecret" value="3091a169a0106c59f0e2fb769939ca8a" />
    <add key="NickName" value="chinginternational" />
    <add key="tabaobaichuanappKey" value="23238713" />-->
    <!--<add key="tabaobaichuanappSecret" value="35bc06de312ac2999c0b3930ce8c1e56" />-->
  </appSettings>

</configuration>